@import url(//cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css);
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, etails, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, button {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-family: 'NanumSquare', sans-serif; }
  body a, body button {
    color: #333;
    border: 0;
    outline: none !important;
    text-decoration: none !important;
    background: none;
    box-shadow: none; }
    body a:hover, body button:hover {
      color: #333; }
  body.sub #content {
    box-sizing: border-box; }
    body.sub #content *, body.sub #content *::before, body.sub #content *::after {
      box-sizing: border-box; }
    body.sub #content .sr-only {
      position: absolute;
      width: 1px;
      height: 1px;
      padding: 0;
      overflow: hidden;
      clip: rect(0, 0, 0, 0);
      white-space: nowrap;
      border: 0; }
    body.sub #content .container {
      display: block;
      width: 100%;
      max-width: 1200px;
      margin: 0 auto; }
  @media (min-width: 992px) {
    body.sub {
      padding-top: 96px; }
      body.sub #header {
        background-color: #fff;
        box-shadow: 2px 3px 8px 0px rgba(0, 0, 0, 0.14); }
        body.sub #header .logo > a img.img-default {
          display: block; }
        body.sub #header .logo > a img.img-transparent {
          display: none; }
        body.sub #header #gnb > ul > li > a {
          color: #000; }
        body.sub #header #gnb > ul > li.active > a {
          color: #5d00b3; } }

/* page-header */
.page-header .page-intro {
  position: relative;
  width: 100%;
  height: 200px;
  display: table;
  table-layout: fixed; }
  .page-header .page-intro .figure {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover; }
  .page-header .page-intro .video-area {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    overflow: hidden; }
    .page-header .page-intro .video-area .video {
      position: relative;
      top: -20%;
      width: 100%; }
    .page-header .page-intro .video-area:after {
      position: absolute;
      top: 0;
      left: 0;
      content: '';
      width: 100%;
      height: 100%;
      background-image: url(/assets/images/sub/bg_video_opacity.png); }
  .page-header .page-intro .details {
    position: relative;
    display: table-cell;
    width: 100%;
    text-align: center;
    vertical-align: middle;
    z-index: 2; }
    .page-header .page-intro .details h2 {
      position: relative;
      top: -30px;
      opacity: 0;
      font-size: 36px;
      color: #fff;
      font-weight: bold;
      letter-spacing: -1px;
      text-shadow: 2px 1px 2px #333;
      -webkit-transition-property: all;
      transition-property: all;
      -webkit-transition-duration: 0.7s;
      transition-duration: 0.7s;
      -webkit-transition-timing-function: linear;
      transition-timing-function: linear;
      -webkit-transition-delay: 0s;
      transition-delay: 0s; }
.page-header.action .page-intro .details h2 {
  top: 0;
  opacity: 1; }
.page-header #lnb .dropdown {
  position: relative; }
  .page-header #lnb .dropdown > .btn-dropdown {
    position: relative;
    width: 100%;
    display: block;
    font-size: 14px;
    color: #666;
    font-weight: bold;
    line-height: 40px;
    text-align: left;
    padding: 0 15px;
    cursor: pointer;
    border-bottom: 1px solid #dfdfdf; }
    .page-header #lnb .dropdown > .btn-dropdown:after {
      position: absolute;
      top: 50%;
      right: 15px;
      margin-top: -3px;
      display: inline-block;
      color: #666;
      line-height: 40px;
      content: '';
      border-top: 6px solid;
      border-right: 6px solid transparent;
      border-bottom: 0;
      border-left: 6px solid transparent;
      -webkit-transition-property: all;
      transition-property: all;
      -webkit-transition-duration: 0.15s;
      transition-duration: 0.15s;
      -webkit-transition-timing-function: linear;
      transition-timing-function: linear;
      -webkit-transition-delay: 0s;
      transition-delay: 0s; }
    .page-header #lnb .dropdown > .btn-dropdown.on:after {
      transform: rotate(180deg);
      -webkit-transform: rotate(180deg); }
  .page-header #lnb .dropdown .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    text-align: left;
    display: none;
    background-color: #fff; }
    .page-header #lnb .dropdown .dropdown-menu > li > a {
      width: 100%;
      display: block;
      font-size: 14px;
      line-height: 40px;
      color: #666;
      font-weight: bold;
      padding: 0 15px;
      border-bottom: 1px solid #dfdfdf; }
  .page-header #lnb .dropdown.show > .dropdown-menu {
    display: block; }
@media (min-width: 768px) {
  .page-header .page-intro {
    height: 260px; }
    .page-header .page-intro .details h2 {
      font-size: 50px; }
  .page-header #lnb .dropdown > .btn-dropdown {
    display: none; }
  .page-header #lnb .dropdown .dropdown-menu {
    position: static;
    display: table !important;
    table-layout: fixed;
    text-align: center; }
    .page-header #lnb .dropdown .dropdown-menu > li {
      display: table-cell;
      width: 1%;
      border-right: 1px solid #dfdfdf; }
      .page-header #lnb .dropdown .dropdown-menu > li:last-child {
        border-right: 0; }
      .page-header #lnb .dropdown .dropdown-menu > li > a {
        font-size: 16px;
        line-height: 48px;
        -webkit-transition-property: all;
        transition-property: all;
        -webkit-transition-duration: 0.15s;
        transition-duration: 0.15s;
        -webkit-transition-timing-function: linear;
        transition-timing-function: linear;
        -webkit-transition-delay: 0s;
        transition-delay: 0s; }
        .page-header #lnb .dropdown .dropdown-menu > li > a:hover {
          opacity: .7;
          color: #fff;
          background-color: #5d00b3; }
      .page-header #lnb .dropdown .dropdown-menu > li.active > a {
        color: #fff;
        background-color: #5d00b3; }
        .page-header #lnb .dropdown .dropdown-menu > li.active > a:hover {
          opacity: 1; } }
@media (min-width: 992px) {
  .page-header .page-intro {
    height: 385px; }
    .page-header .page-intro .figure {
      display: none; }
    .page-header .page-intro .video-area {
      display: block; }
    .page-header .page-intro .details h2 {
      font-size: 60px; }
  .page-header #lnb {
    border-bottom: 1px solid #dfdfdf; }
    .page-header #lnb .dropdown > .dropdown-menu > li > a {
      line-height: 66px; } }
@media (min-width: 1200px) {
  .page-header #lnb .dropdown {
    border-left: 1px solid #dfdfdf;
    border-right: 1px solid #dfdfdf; }
    .page-header #lnb .dropdown .dropdown-menu > li > a {
      border: 0; } }

/* tab-bar */
.tab-bar {
  margin-top: 60px; }
  .tab-bar .container {
    padding: 0 10px; }
    .tab-bar .container > ul {
      display: table;
      width: 100%; }
      .tab-bar .container > ul > li {
        display: table-cell;
        width: 1%;
        vertical-align: middle; }
        .tab-bar .container > ul > li > a {
          display: block;
          font-size: 14px;
          padding-bottom: 15px;
          color: #333;
          font-weight: bold;
          text-align: center;
          -webkit-transition-property: all;
          transition-property: all;
          -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
          -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
          -webkit-transition-delay: 0s;
          transition-delay: 0s;
          border-bottom: 3px solid transparent; }
          .tab-bar .container > ul > li > a:hover {
            color: #5d00b3;
            opacity: .6;
            border-color: #5d00b3; }
        .tab-bar .container > ul > li.active > a {
          color: #5d00b3;
          border-color: #5d00b3; }
          .tab-bar .container > ul > li.active > a:hover {
            opacity: 1; }
  @media (min-width: 768px) {
    .tab-bar .container {
      padding: 0 15px; }
      .tab-bar .container > ul > li > a {
        font-size: 16px;
        padding-bottom: 20px; } }
  @media (min-width: 992px) {
    .tab-bar {
      margin-top: 120px; }
      .tab-bar .container > ul > li > a {
        font-size: 18px; } }
  @media (min-width: 1200px) {
    .tab-bar .container {
      padding: 0; } }

/*# sourceMappingURL=sub.css.map */
